nav {
    background-color: #f5f5f5;
    padding: 10px 0;
    width: 100%;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-left: 20px;
  }
  
  .nav-menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  
  /* Logo */
  .logo img {
    height: 50px;
  }
  
  /* Media Queries para dispositivos pequeños */
  @media screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      flex-direction: column;
      background-color: #f5f5f5;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-menu li {
      margin: 25px 0;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .menu-toggle.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
 